.group{
    margin: auto;
}
.avatar{
    width: 5rem;
}
.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h4{
    color: black;
}

.not-found{   
    border-left: 5px solid #a94442;
}